@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

body {
  font-family: var(--font-secondary);
}

.custom__blogTitle {
  background-color: orange;
}

.custom__blogTitle h1 {
  visibility: hidden;
  height: 0;
  width: 0;
  overflow: hidden;
  text-align: center;
}

.slideshow-columns {
  display: grid;
  grid-auto-flow: column;
  height: 100px;
  gap: 2rem;
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  opacity: .3;
  right: calc(-25% + 1.5rem);
}

.slideshow-columns > div {
  display: grid;
  gap: 2rem;
}

.columns-A {
  /* background: salmon; */
  padding-top: 20rem;
}
.columns-B {
  /* background: indigo; */
  padding-top: 9rem;
}
.columns-C {
  /* background: gold; */
}
.columns-D {
  /* background: olive; */
  padding-bottom: 20rem;
}

.slideshow-columns span {
  background: rgba(255, 255, 255, 0.25);
  padding: 8rem 4rem;
  border-radius: .5rem;
}

.timeline__projects {
  /* border: 1px dashed salmon; */
}

.timeline__projects > li {
  /* border: 1px dashed salmon; */
  padding: 1rem;
  flex: 1;
}

.timeline__item-avatar {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.75rem;
  margin: -24px 0 0 -16px;
}

.avatar__disc {
  width: 48px;
  height: 48px;
  border-radius: 999px;
  background-color: transparent;
  border: 1px solid white;
  box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.5);
}

.timeline__projects > li:nth-child(1) .avatar__disc {
  background-image: url("../utils/rpg.png");
}

.timeline__projects > li:nth-child(2) .avatar__disc {
  background-image: url("../utils/battleRoyale.png");
}

.timeline__projects > li:nth-child(3) .avatar__disc {
  background-image: url("../utils/moba.png");
}

.timeline__projects > li:nth-child(4) .avatar__disc {
  background-image: url("../utils/flightSimulator.png");
}

.contactLinks {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 2rem;
}

.contactLinks a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background-color: rgb(0 0 0 / 0.2);
  border-radius: 4px;
  padding: 1rem;
  flex: 1;
  min-width: 100px;
}

.contactLinks .logo {
  width: 32px;
  height: 32px;
  display: block;
  margin: 0 auto;
  background-size: cover;
}

.contactLinks > li:nth-child(1) .logo {
  background-image: url("../utils/contact_skype.png");
}

.contactLinks > li:nth-child(2) .logo {
  background-image: url("../utils/contact_discord.png");
}

.contactLinks > li:nth-child(3) .logo {
  background-image: url("../utils/contact_gmail.png");
}

.contactLinks > li:nth-child(4) .logo {
  width: 64px;
  background-image: url("../utils/contact_proZ.png");
}

.contactLinks > li:nth-child(5) .logo {
  background-image: url("../utils/contact_linkedin.png");
}

.contactLinks > li:nth-child(6) .logo {
  background-image: url("../utils/contact_pdf.png");
}

.avatar {
  width: 128px;
  height: 128px;
  display: block;
  background-size: cover;
  background-image: url("../utils/gld_avatar.png");
}